.containerpass {
    font-family: "Inter", sans-serif;
    background-color: #f9fafb;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./assets/sidewave.png');
    background-size: cover;
  }
  
  .main {
    max-width: 600px;
    width: 100%;
  }
  


  #special{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contentpass {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    margin-left: 15%;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .subtitle {
    font-size: 15px;
    color: #667788;
  }
  
  .inputs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .inputotp {
    width: 55px;
    height: 55px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #1e293b;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    margin-right: 10px;
  }

  #otpmsg{
    margin: 10px;
    margin-left: 18px;

}
  
   .input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #1e293b;
    border: none;
    border-bottom: 2px solid #030305;
    /* border-radius: 8px; */
    margin-right: 10px;
    outline: none;
  }

  #resetmail{
    padding: 15px;
    /* margin: 10px; */
    border: none;
    border-radius: 7px;
    font-size: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 90%;

  }
  .resetpass{
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .buttonverify {
    background-color: #6366f1;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #4f46e5;
  }
  
  .resend {
    font-size: 14px;
    color: #667788;
    text-align: center;
    margin-top: 20px;
  }
  
  .resend-link {
    color: #6366f1;
    text-decoration: none;
  }
  
  .footerpass {
    font-size: 12px;
    color: #667788;
    text-align: center;
    margin-top: 20px;
  }
  
  .attribution {
    color: #667788;
    text-decoration: none;
  }
  
  .attribution:hover {
    text-decoration: underline;
  }
  


  @media screen and (max-width: 480px)
{

  .containerpass {
    font-family: "Inter", sans-serif;
    background-color: #f9fafb;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./assets/sidewave.png');
    background-size: cover;
  }

  .input {
    width: 40px;
    height: 40px;
    
  }
  .contentpass {
    
    margin-left: 6%;
  }
  

}