

.landing-container{
    width: 100%;
    height:calc(100vh - 20vh) ;

    background:url('../assets/wave4.png') ;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.landing-container .content{
    padding-top: 3%;
    padding-left:25%;
}

.landing-container .content h2{
    font-size: 55px;
    color: rgb(35, 35, 76);
    
}

.landing-container .content h2 span{
    font-size: 72px;
    color: cornflowerblue;
    
}

@media screen and (max-width: 480px)
{

    /* body{
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    } */
    .landing-container{
        height: 100vh;
        display: flex;
        background-repeat: no-repeat;
        /* background-position: center; */
        background-size: cover;
        /* background-position: top; */
        align-items: flex-start;
        justify-content: center; 
       
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }

    .landing-container .content{
        padding-top: 10%;
        padding-left:19%;
    }
    
    .landing-container .content h2{
        font-size: 35px;
        color: rgb(35, 35, 76);
        
    }
    
    .landing-container .content h2 span{
        font-size: 48px;
        color: cornflowerblue;
    }
}